<!-- scroll top button -->
<a class="up" href="#home"><i class="fas fa-arrow-up"></i></a>
<a class="wa" href="https://wa.me/085784777797"><i class="fas fa-phone"></i></a>
<!-- akhir scroll top -->
<footer>
    <div class="container-fluid foot pt-5 pb-5">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-5">
                    <h4>PP Al Mannan<br></h4>
                    <p class="mt-4">Jl. KH Hasyim Asyari No.54, Kauman, Kec. Kauman, Kabupaten Tulungagung, Jawa Timur 66261</p>
                    <p class="small">(0281) 632138</p>
                    <p class="small">https://asrul002.pythonanywhere.com/</p>
                    <p class="small">Senin - Jumat: 7:00 - 16:00</p>
                    <p class="small">Sabtu: 8:00 - 12:00</p>
                </div>
                <div class="col-md-3">
                    <h4>PETA SITUS<br></h4>
                    <div class="mt-4">
                        <p><a href="{% url 'index' %}" style="text-decoration: none;" class="custom-link">Beranda</a></p>
                        <p><a href="{% url 'profil' %}" class="custom-link">Tentang Kami</a></p>
                        <p><a href="{% url 'berita' %}" class="custom-link">Berita</a></p>
                        <p><a href="{% url 'helpdesk' %}" class="custom-link">Bantuan</a></p>
                        <p><a href="{% url 'ppdb' %}" class="custom-link">PPDB</a></p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <h4>ALAMAT<br></h4>
                    <iframe class="mt-4" style="border-radius: 2%;" src="https://g.co/kgs/NYHVBJE" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(27, 24, 41);" class="container-fluid">
        <div style="background-color: rgb(27, 24, 41);  height: 40px; font-size: 13px;" class="footer pt-2">
            <div class="row">
                <div class="col-sm-8 text-center">
                    <p style="color: rgb(241,241,241);">Copyright &copy; 2021 - SMK Telkom Purwokerto </p>
                </div>
                <div class="col-sm-4 justify-content-end">
                    <a style="color: #F8F9FA;" href=""><i class="fab fa-instagram justify-content-end"></i></a>
                    <a style="color: #F8F9FA;" href=""><i class="fab fa-facebook ml-30 justify-content-end"></i></a>
                    <a style="color: #F8F9FA;" href=""><i class="fab fa-youtube ml-30 justify-content-end"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>