

{% load static %}
<nav style="background-color: #FDFDFD!important;" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand mb-4" href="{% url 'index' %}">
      <img style="position: absolute; height: 100px;" src="{% static 'assets/images/logo_utama.jpg' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'index' %} active {% endif %}" aria-current="page" href="{% url 'index' %}">Beranda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tentang Kami
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'profil' %}">Profil & Visi Misi</a></li>
            <li><a class="dropdown-item" href="{% url 'struktur_organisasi' %}">Struktur Organisasi</a></li>
            <li><a class="dropdown-item" href="{% url 'akreditasi' %}">Akreditasi</a></li>
            <li><a class="dropdown-item" href="{% url 'prestasi' %}">Prestasi</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'berita' %} active {% endif %}" href="{% url 'berita' %}">Berita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'helpdesk' %} active {% endif %}" href="{% url 'helpdesk' %}">Bantuan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'ppdb' %} active {% endif %}" href="{% url 'ppdb' %}">PPDB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'profillpi' %} active {% endif %}" href="{% url 'profillpi' %}">LPI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'pendidikan_ma' %} active {% endif %}" href="{% url 'pendidikan_ma' %}">MA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'pendidikan_smp' %} active {% endif %}" href="{% url 'pendidikan_smp' %}">SMP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'pendidikan_mahad' %} active {% endif %}" href="{% url 'pendidikan_mahad' %}">MA'HAD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'pendidikan_kampus' %} active {% endif %}" href="{% url 'pendidikan_kampus' %}">KAMPUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'pendidikan_tpq' %} active {% endif %}" href="{% url 'pendidikan_tpq' %}">TPQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
