{% extends "base.html" %}
{% load static %}
{% block title %}SMK Telkom Purwokerto{% endblock %}
{% block content %}

<section style="position: relative; text-align: center;">
  <img width="100%" style="margin-top: 60px;height: 600px;object-fit: cover;filter: brightness(50%);" src="{% static 'assets/images/Header1.jpg' %}" alt="">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 4em; color: white; font-weight: bold;">
    AKREDITAS
  </div>
</section>

  <!-- section -->
  <div class="container pt-5 pb-5 ak1">
      <div class="row text-center pt-5">
        <h4 class="pb-5">Pernyataan Bahwa SMK Telkom Purwokerto<br>
          Terakreditasi A</h4>
          <div class="col-md-6 pt-2 text-center">
            <img style="width: 90%;" src="https://placehold.co/300x200" alt="">
          </div>
          <div class="col-md-6 pt-2">
            <img style="width: 90%;" src="https://placehold.co/300x200" alt="">
          </div>
      </div>
      <div class="row text-center pt-5">
        <a href="{% static 'assets/img/Akreditasi-Sekolah-2019-2023-SMK-Telekomukinasi-Sandhy-Putra-Purwokerto.pdf' %}"> <button style="background-color: #4CAF50; border:none; width: 200px;" type="button" class="btn btn-danger justify-content-center mt-4 mb-4">Lihat PDF Disini</button></a>
      </div>
  </div>
  <!-- akhir section -->
{% endblock %}