{% extends "base.html" %}
{% load static %}
{% block title %}SMK Telkom Purwokerto{% endblock %}
{% block content %}

<section style="position: relative; text-align: center;">
  <img width="100%" style="margin-top: 60px;height: 600px;object-fit: cover;filter: brightness(50%);filter: brightness(50%);" src="{% static 'assets/images/Header1.jpg' %}" alt="">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 4em; color: white; font-weight: bold;">
    PROFIL YAYASAN
  </div>
</section>

    <section>
      <div class="container-fluid pt-5 pb-5 profil">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div style="width: 50%;" class="container text-center"><img style="width: 30%;" src="{% static 'assets/images/logo_utama.jpg' %}" alt=""></div>
            <h3 style="font-weight: 500; font-size: 36px;" class="pt-5 text-center">Always The Best</h3>
            <h4 class="pt-3 pb-4 text-center">Sekolah Berprestasi dan Hafal Al - Quran</h4>
            <div style="width: 100%;" class="container">
            <img style="width: 100%;" src="{% static 'assets/images/profillpi.png' %}" alt=""></div>
            <p class="pt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde consectetur laudantium, minima qui consequuntur esse asperiores explicabo nobis iste accusamus.</p>
          </div>
          
          <div class="row pt-5 pb-5">
            <div class="col-md-6">
              <h3 style="font-weight: 600; color:  #10683f; font-size: 36px;" class="pt-3 pb-5 text-center">VISI</h3>
              <div style="color: #FCCB1C;" class="col-md-12 text-center"><i class="fas fa-archive fa-6x"></i></div>
              <p class="pt-5">MEWUJUDKAN GENERASI QUR’AN UNGGUL DAN RUJUKAN YANG BERWAWASAN LUAS, BERFIKIR MAJU DALAM IPTEK ,KUAT DALAM AQIDAH DAN MENJADI PELOPOR MULTILINGUAL MASYARAKAT QUR’ANI.
              </p>
            </div>
            <div class="col-md-6">
              <h3 style="font-weight: 600; color:  #10683f; font-size: 36px;" class="pt-3 pb-5 text-center">MISI</h3>
              <div style="color: #FCCB1C;" class="col-md-12 text-center"><i class="fas fa-edit fa-6x"></i></div>
              <p style="line-height: 60px;" class="pt-4">
                1. Terwujudnya Yayasan yang unggul dan rujukan dalam istikomah menghafal dan mengamalkan al-Qur’an
                <br>
                2. Terwujudnya Yayasan yang unggul dalam Berakhakhul karimah dan kuat dalam karakter kepemimpinan.
                <br>
                3. Mewujudkan Yayasan yang membentuk masayarakat qur’ani dan kuat dalam Aqidah ahlusunnah wal jamaah.
                <br>
                4. Mewujudkan Yayasan yang multilingual dalam insan yang wawasan global dan shaleh.
                <br>
                5. Mengembangkan potensi peserta didik dalam menggunakan ilmu pengetahuan dan teknologi untuk kemaslahatan umat
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}